
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #task-list {
    margin-top: 20px;
  }
  
  .task-item {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-item button {
    background-color: red;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .task-item button:hover {
    background-color: darkred;
  }
  